{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}} <!--이렇게 mustache 문법에 쓴 변수(articleList)가 데이터 묶음인 경우 내부 코드가 반복됨 (마치 for문의 반복실행처럼)-->
        <tr>
            <th>{{id}}</th> <!--가짜 데이터 넣기 -->
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<a href="/articles/new">New Article</a>
{{>layouts/footer}}